<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>IMWebSocket</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>startFilter</filter-name>
		<filter-class>filter.startFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>AgentServlet</servlet-name>
		<servlet-class>servlet.AgentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgentServlet</servlet-name>
		<url-pattern>/AgentServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>servlet.ClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/ClientServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 	Log4j configuration -->
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
		
	<!-- 	System configuration -->
	<context-param>
		<param-name>MaxRingTime</param-name>
		<param-value>12</param-value>
	</context-param>
	<context-param>
		<param-name>AfterCallStatus</param-name>
		<param-value>4</param-value>
	</context-param>
	<context-param>
		<param-name>EstablishedStatus</param-name>
		<param-value>3</param-value>
	</context-param>
  	<!-- 	System configuration -->
  	<listener>
		<listener-class>filter.SystemListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>restful.servlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/RESTful/*</url-pattern>
	</servlet-mapping>

	

</web-app>