<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n"/> -->
			<PatternLayout pattern="%msg%n" />
		</Console>

		<Console name="commonConsole" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} [%C-%L] - %msg%n"/> -->
			<PatternLayout pattern="[%d{yy/MM/dd HH:mm:ss}][%5p][%-35C-%-5L] - %m%n" />
		</Console>

		<File name="commonFile" fileName="log4j2/common.log">
			<PatternLayout>
				<Pattern>[%d{yy/MM/dd HH:mm:ss}][%5p][%-35C-%-5L] - %m%n</Pattern>
			</PatternLayout>
		</File>

		<File name="statusFile" fileName="log4j2/statusFile.log">
			<PatternLayout>
				<Pattern>[%d{yy/MM/dd HH:mm:ss}][%5p][%-35C-%-5L] - %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO"> <!-- INFO --> <!-- 若改成DEBUG,會印出許多非自行設定的資訊, ex mybatis -->
			<!-- <AppenderRef ref="Console"/> this ref 對到 上面的 naem="Console" -->
			<!-- <AppenderRef ref="commonFile"/> -->
		</Root>
		<!-- 給一般file使用 -->
		<logger name="util.consoleLogger" level="info" additivity="false">
			<AppenderRef ref="commonConsole" />
		</logger>
		<logger name="util.fileLogger" level="info" additivity="false">
			<AppenderRef ref="commonFile" />
		</logger>
		<logger name="util.statusFileLogger" level="info" additivity="false">
			<AppenderRef ref="statusFile" />
		</logger>


	</Loggers>
</Configuration>